# Database
DATABASE_URL=postgresql://postgres:Y6FSQTFIXwy6Qz0r@db.kwbpgiidkqyjjafveoxm.supabase.co:5432/postgres
SUPABASE_URL=https://kwbpgiidkqyjjafveoxm.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3YnBnaWlka3F5amphZnZlb3htIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzczNzEyNzUsImV4cCI6MjA5Mjk0NzI3NX0.8ImD2eEFBWGH7Gc8DwmNCxSXZaVvwXXae7TR5kBbqr4
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3YnBnaWlka3F5amphZnZlb3htIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzM3MTI3NSwiZXhwIjoyMDkyOTQ3Mjc1fQ.dmv_VP5iH7NLVoQf5e0NrsSf5ZJI2hjkPmFicSqzYPI

# App
VITE_APP_URL=http://localhost:3000
NODE_ENV=development

# Auth (for future features)
JWT_SECRET=your-super-secret-jwt-key-change-in-production

# AI Chatbot huggingface api key for inference calls on freee tier
HUGGINGFACE_API_KEY=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
HUGGINGFACE_API_URL=https://api-inference.huggingface.co/models/deepseek-ai/DeepSeek-V4-Pro:featherless-ai
# Model: deepseek-ai/DeepSeek-V4-Pro:featherless-ai (free, lightweight)
VITE_HUGGINGFACE_MODEL=deepseek-ai/DeepSeek-V4-Pro:featherless-ai

# WhatsApp Business (optional)
VITE_WHATSAPP_NUMBER=27839659614

#Redis cloud details
LANGCACHE_API_KEY=lc1_-kSc6cDTATP9USQW3KMmC0Z841qJm2OSUvmCm6qcI1c7exq2Spvu0Ek3PhAx3-A2p_qyN7hSVfDl7JQfrSwB-w_1HXpuCzphn2FMPw3KZHo7ePcpgbDBUfrTzrO55H6WsfMk5ZUvjf0b_HFEPw==
LANGCACHE_ID=5ca1a3411aaf461582bde97bacb28c3c
LANGCACHE_URL=https://aws-us-east-1.langcache.redis.io
REDIS_URL=redis://default:rdRkhnkn6JdDxVhqoUHqW9sOZKq8mreY@redis-19287.c90.us-east-1-3.ec2.cloud.redislabs.com:19287
